# Node.js
node_modules/

# Built files
/dist/*
# But white-list some files, **/*.bat means all bat files, *.bat is bat files directly under
# !/dist/**/*.bat
!/dist/*.bat

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Caches
.npm/
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env*


# Dialogue nodes in json format
assets/*.json